* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

.dim-image {
  background-color: hsl(0, 0%, 80%);
  background-blend-mode: multiply;
}

.emphasis {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.hover-image {
  @apply group-hover:scale-[103%] duration-300 group-active:scale-95;
}

.text-input {
  @apply p-2 outline-none;
}

@font-face {
  font-family: "ZhanKu";
  src: url(/fonts/ZhanKu.ttf);
}
