---
import BaseLayout from "$layouts/BaseLayout.astro";
import PageCover from "$components/PageCover.astro";

const images = [
  { index: 1, name: "吉隆坡 - Malaysia" },
  { index: 2, name: "以佛斯 - Turkey" },
  { index: 3, name: "波隆那 - Italy" },
  { index: 4, name: "梵諦岡 - Vatican" },
  { index: 5, name: "塞爾維亞 - Serbia" },
  { index: 6, name: "格拉斯 - France" },
  { index: 7, name: "阿布達比 - U.A.E" },
  { index: 8, name: "里斯本 - Portugal" },
  { index: 9, name: "京都 - Japan" },
]
---

<BaseLayout title="About Us">
  <PageCover center cover="/covers/about.webp" slot="before-content">
    <h1 class="emphasis">About Us</h1>
  </PageCover>

  <section class="space-y-8 mb-sm">
    <p>
      如果有一天，有人問你：「如果你可以居住在世界上任何一個地方，你想住哪裡」，你會怎麼回答？
      在疫情期間，我們一家生活和工作都移至線上，對生活的方式和態度也有很大的改變，想要跳脫本來一成不變的生活，打破我們遵循了好多年的社會規範，把視野放向世界，做個地球公民，於是我們有了一個大膽的想法 -
    </p>
    <p>環。遊。世。界。</p>
    <p>把一個家，連根拔起，收進一個行李，帶著兩個孩子，花兩年時間到世界各地過著遊牧生活，在每一個城市花時間築巢， 在當地的市場買東西，適應不同的氣候，接觸不同的文化和語言，這聽起來浪漫無比的想法，對我們來說，是一場冒險和挑戰，相信會換來我們一輩子難忘的回憶及經歷。</p>
  </section>

  <ul class="grid lg:grid-cols-3 grid-cols-1 grid-rows-3 gap-4">
    {images.map(image => (
      <li style={{ backgroundImage: `url(/about/${image.index}.jpg)`}}
        class="bg-cover bg-center h-96 relative text-white">
        <div class="absolute bottom-0 bg-gradient-to-t from-neutral h-40 w-full"></div>
        <h1 class="absolute left-6 bottom-6">{image.name}</h1>
      </li>
    ))}
  </ul>
</BaseLayout>
