---
import BaseLayout from "$layouts/BaseLayout.astro";
import PageCover from "$components/PageCover.astro";
import { contentfulClient } from "$lib/contentful";
import type { BlogPost } from "$lib/contentful";
import Timeline from "$components/Timeline.svelte";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
  order: ["fields.date"],
});
---

<BaseLayout title="Blog">
  <PageCover center cover="/covers/blog.webp" slot="before-content">
    <h1 class="emphasis">Blog</h1>
  </PageCover>

  <Timeline client:load entries={entries} />
</BaseLayout>
