---
import DestinationsGrid from "$components/DestinationsGrid.svelte";
import PageCover from "$components/PageCover.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import type { Destination } from "$lib/contentful";
import { contentfulClient } from "$lib/contentful";

const destinations = await contentfulClient.getEntries<Destination>({
  content_type: "destination",
});
---

<BaseLayout title="Destinations">
  <PageCover center cover="/covers/destinations.webp" slot="before-content">
    <h1 class="emphasis">Destinations</h1>
  </PageCover>

  <DestinationsGrid client:load destinations={destinations} />
</BaseLayout>
