---
import PageCover from "$components/PageCover.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import type { Destination } from "$lib/contentful";
import { contentfulClient } from "$lib/contentful";

const posts = await contentfulClient.getEntries<Destination>({
  content_type: "destination",
});
---

<BaseLayout title="Destinations">
  <PageCover center cover="/covers/home.webp" slot="before-content">
    <h1 class="emphasis">Destinations</h1>
  </PageCover>

  <ul class="text-neutral grid grid-cols-4 gap-0.5">
    {posts.items.map(item => (
      <li>
        <a href={`/destinations/${item.fields.slug}`}
          style={{ backgroundImage: `url('${item.fields.cover?.fields.file?.url}')`}}
          class="block h-80 bg-cover bg-center text-white relative dim-image">
          <h1 class="absolute left-6 bottom-6 font-bold uppercase text-sm">{item.fields.name}</h1>
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>
