---
import GalleryGrid from "$components/GalleryGrid.svelte";
import PageCover from "$components/PageCover.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import { GalleryPhoto, contentfulClient } from "$lib/contentful";

const entries = await contentfulClient.getEntries<GalleryPhoto>({
  content_type: "galleryPhoto",
  order: ["-fields.date"],
})
---

<BaseLayout title="Gallery">
  <PageCover center cover="https://www.londonxlondon.com/wp-content/uploads/2020/09/Marylebone-69.jpg" slot="before-content">
    <h1 class="emphasis">Gallery</h1>
  </PageCover>

  <GalleryGrid client:visible entries={entries} />
</BaseLayout>
