---
import PageCover from "$components/PageCover.astro";
import BaseLayout from "$layouts/BaseLayout.astro";

---

<BaseLayout title="Gallery">
  <PageCover center cover="https://www.londonxlondon.com/wp-content/uploads/2020/09/Marylebone-69.jpg" slot="before-content">
    <h1 class="emphasis">Gallery</h1>
  </PageCover>
</BaseLayout>
