---
import "iconify-icon";

const { type, className } = Astro.props;
---

{type === "Podcast" ? (
  <div class:list={[
    "bg-neutral-200 dark:bg-white inline-flex rounded-full text-neutral justify-center items-center p-[2px] text-sm",
    className
  ]}>
    <iconify-icon icon="material-symbols:mic"></iconify-icon>
  </div>
) : (
  <div class:list={[
    "bg-neutral dark:bg-neutral-600 text-white inline-flex rounded-full justify-center items-center p-[3px] text-xs",
    className
  ]}>
    <iconify-icon icon="mdi:pencil"></iconify-icon>
  </div>
)}
