---
import Navbar from "$components/Navbar.svelte";
import Footer from "$components/Footer.astro";

import "@fontsource/jost";
import "$styles/global.css";
import "iconify-icon";

const {
  title = "Atlas Academy",
  description = "The Atlas Academy blog",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
    <script type="module">
      localStorage.theme === "dark" ||
			(!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
				? document.documentElement.classList.add("dark")
				: document.documentElement.classList.remove("dark");
    </script>
  </head>
  <body class="bg-white dark:bg-neutral text-neutral dark:text-white duration-200">
    <Navbar client:load />

    <!-- Probably page cover without margin -->
    <slot name="before-content" />

    <!-- Main content with margin -->
    <main class="m-sm">
      <slot />
    </main>

    <Footer />
  </body>
</html>
