---
import Navbar from "$components/Navbar.svelte";

import "@fontsource/jost";
import "$styles/global.css";

const {
  title = "Atlas Academy",
  description = "The Atlas Academy blog",
} = Astro.props;
---

<html lang="en" class="bg-white text-neutral">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
  </head>
  <body>
    <Navbar />

    <!-- Probably page cover without margin -->
    <slot name="before-content" />

    <!-- Main content with margin -->
    <main class="m-md">
      <slot />
    </main>
  </body>
</html>
